<div class="row">
  <div class="col-xs-12 col-md-8">
    <%= form_for(@todo) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-div">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-div">
        <%= f.label :task %>
        <%= f.text_area :task, size: "50x20", class: "form-control" %>
      </div>

      <div class="form-div">
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, class: "form-control", value: "#{@todo.tag_list.join(", ") }" %>
        <small class="form-text text-muted">Do ensure your tags are separated by commas</small>
      </div>

      <div class="form-div">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>
