<h1>All Todos</h1>
<div class="card-columns">
  <% @todos.each do |todo| %>
    <% if todo.completed? %>
      <div class="card text-center bg-success">
    <% else %>
      <div class="card text-center bg-warning">
    <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to todo.title, edit_todo_path(todo) %></h5>
          <p class="card-text"><%= todo.task %></p>
          <div class="card-text">Tags: <%= todo.tag %></div>
          <div>
            <span><%= link_to "delete", todo, method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %></span>
            <% unless todo.completed? %>
              <span><%= link_to "complete", mark_complete_todo_path(todo),
                method: :get,
                class: "btn btn-success" %></span>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
