<h1>All Todos</h1>
<div class="card-columns">
  <% @todos.each do |todo| %>
    <% if todo.completed? %>
      <div class="card text-center" id="complete-card">
    <% else %>
      <div class="card text-center" id="incomplete-card">
    <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to todo.title, edit_todo_path(todo) %></h5>
          <p class="card-text"><%= todo.task %></p>
          <% for tag in todo.tag_list %>
            <%= link_to tag, tag_path(tag) %>
          <% end %>
          <div>
            <span><%= link_to "delete", todo, method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %></span>
            <% unless todo.completed? %>
              <span><%= link_to "mark complete", toggle_complete_todo_path(todo),
                method: :get,
                class: "btn btn-success" %></span>
            <% else %>
              <span><%= link_to "mark incomplete", toggle_complete_todo_path(todo),
                method: :get,
                class: "btn btn-warning" %></span>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
