<h1>Create Todo</h1>

<%= form_for(@todo) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :task %>
  <%= f.text_area :task %>

  <%= f.label :tag %>
  <%= f.text_field :tag %>

  <%= f.submit "Create Todo" %>
<% end %>
